
Libraries/0Harmony.dll
Libraries/Aki.Common.dll
Libraries/Aki.Reflection.dll
Libraries/Assembly-CSharp.dll
Libraries/BepInEx.dll
Libraries/Comfort.dll
Libraries/UnityEngine.CoreModule.dll
Libraries/UnityEngine.dll
obj/ClearIconCache.csproj.nuget.dgspec.json
obj/ClearIconCache.csproj.nuget.g.props
obj/ClearIconCache.csproj.nuget.g.targets
obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/net472/ClearIconCache.AssemblyInfo.cs
obj/Debug/net472/ClearIconCache.AssemblyInfoInputs.cache
obj/Debug/net472/ClearIconCache.assets.cache
obj/Debug/net472/ClearIconCache.csproj.AssemblyReference.cache
obj/Debug/net472/ClearIconCache.csproj.CopyComplete
obj/Debug/net472/ClearIconCache.csproj.CoreCompileInputs.cache
obj/Debug/net472/ClearIconCache.csproj.FileListAbsolute.txt
obj/Debug/net472/ClearIconCache.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net472/com.JustNU.ClearIconCache.dll
obj/Debug/net472/com.JustNU.ClearIconCache.pdb
obj/Debug/net472/MyPluginInfo.cs
obj/project.assets.json
obj/project.nuget.cache
bin/Debug/net472/Aki.Common.dll
bin/Debug/net472/Aki.Reflection.dll
bin/Debug/net472/Assembly-CSharp.dll
bin/Debug/net472/com.JustNU.ClearIconCache.dll
bin/Debug/net472/com.JustNU.ClearIconCache.pdb
bin/Debug/net472/Comfort.dll
.vs/ClearIconCache/DesignTimeBuild/.dtbcache.v2
.vs/ClearIconCache/v16/.suo
ClearIconCache.sln
